html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
html,body,fieldset,img,iframe,abbr{border:0;}
html,body { font-family: "微软雅黑";}

html,body{width: 100%; height: 100%; overflow: hidden;}
#main { width: 750px; height: 1334px; position: absolute; left:50%;top:0; margin-left: -375px; -webkit-transform-origin:top; overflow: hidden;}
.zIndex{z-index: 5;}
#list li{ width: 100%;height: 100%;position: absolute;left:0; top:0;background-size: cover;background-repeat:no-repeat;}
.a1{height: 100%; position: absolute; font-size: 40px; color: #fde0da; width: 100%;text-align: center; top:-200px;}
.a1 p {position: absolute; text-align: center; width: 50px;display: inline-block; margin: 0 10px; top: -3000px;}
#a1 p{ top: 750px;}
.a1 p { opacity: 0;}
#a1 p {transform: scale(1.2) rotate(1080deg);-webkit-transform: scale(1.2) rotate(1080deg); opacity: 1; }
#a1 p:nth-child(1){ transition: 4s; -webkit-transition: 4s;left: 60px;}
#a1 p:nth-child(2){ transition: 5s; -webkit-transition: 5s;left: 140px;}
#a1 p:nth-child(3){ transition: 6s; -webkit-transition: 6s;left: 230px;}
#a1 p:nth-child(4){ transition: 7s; -webkit-transition: 7s;left: 320px;}



.a1 .open{font-size: 60px; margin-left: -15%; left:50%; color: #fff; position: absolute; bottom: -15px;}
#a1 .open{animation:touchAnimate 2s linear infinite; -webkit-animation:touchAnimate 2s linear infinite; }
#list li:nth-child(1){ background: #59CD1B;}
#list li:nth-child(2){ background: #59CD1B;}
#list li:nth-child(3){ background: #59CD1B;}
#list li:nth-child(4){ background: #59CD1B;}
/*#list li:nth-child(1){ background-image: url(../images/bg1.png);}*/
/*#list li:nth-child(2){ background: url(../images/bg2.png);}*/
/*#list li:nth-child(3){ background: url(../images/bg3.png);}*/
/*#list li:nth-child(4){ background: url(../images/bg4.png);}*/
.a2,.a3,.a4{ text-align: center; position: relative; width: 100%;}
.a2{ position: relative;}
    .a2 div.me{border-radius: 50%; width: 400px; height: 400px; background:url(../images/123.JPG); background-size:400px 400px;position: absolute; transform:translate(200px,200px); -webkit-transform:translate(200px,200px);opacity: 0;}
#a2 div.me{ width: 400px; height: 400px; background:url(../images/123.JPG); background-size:400px 400px;position: absolute; transform:translate(200px,150px) scale(1.1); opacity: 1; transition: 2s; -webkit-transform:translate(200px,150px) scale(1.1); opacity: 1; -webkit-transition: 2s; }
#a2 div.meBorder{
    position: absolute;
    top: 164px;
    left: 159px;
    width: 480px;
    height: 480px;
    border:3px dashed #fdbdae;
    border-radius: 50%;
    z-index: -1;
    animation:touchAnimate 1s ease-out infinite;
    -webkit-animation:touchAnimate 2s ease-out infinite;

}
#a2 div.me{
    animation:none;
    -webkit-animation: none;
    z-index:3;
    border:0;

}
@-webkit-keyframes touchAnimate {
    0%{
        opacity:0.5;
        -webkit-transform:scale(1.2)
    }
    100%{
        opacity: 1;
        -webkit-transform:scale(0.5);
    }
 }

@-webkit-keyframes touchAnimate {
    0%{
        opacity: 0.5;
        -webkit-transform:scale(1.2)
    }
    100%{
        opacity: 1;
        -webkit-transform:scale(0.5);
    }
 }
.a2 div.me img{border-radius: 50%;}
/*#a2 div.me{transform-origin: center center; animation:animate3 2s linear 2s; -webkit-animation:animate3 2s linear 2s;}
*/.a2 .pwrap{ position: absolute; top: 55%; width: 100%; text-align: center;}
#a2 .pwrap{ position: absolute; top: 650px; width: 100%; text-align: center; font-size: 3rem;}
.a2 p{ background: #fdbdae; opacity:0; width: 8%; height: 80px; line-height: 80px; color: #f97476; text-align: center; border-radius: 20px; margin: 40px 0 0 10%; transition: 1s; -webkit-transition: 1s;}
#a2 p{ background: #130F0D; width: 80%; height: 80px; line-height: 80px; color: #59CD1B; text-align: center; border-radius: 20px; margin: 40px 0 0 10%; opacity:1;}
.a2 h2,.a4 h2,.a3 h2{width: 100%; font-size: 3.5rem; margin-top: 40px; color: #ff6b00; font-weight: normal; }
#a2 h2,#a4 h2,#a3 h2{width: 100%; font-size: 3.5rem; margin-top: 40px; color: #A822B3; font-weight: normal; transform:rotate(720deg) scale(1.3); -webkit-transform:rotate(720deg) scale(1.3); transition:1s; -webkit-transition:1s;}
.a3 p{width: 120px; height:120px; position: absolute; left:50%;top:50%; border-radius: 50%; margin-left: -60px;margin-top: -60px;font-size:60px;}
.a3{width: 100%; height: 100%; position: relative;}
.a3 h3{width: 300px; height: 300px;position: absolute; left:50%; top: 50%; margin: -150px 0 0 -152px; background: url(../images/玻璃球.png) no-repeat; border-radius: 50%; background-size:300px 300px;}
#a3 h3{ transform:rotate(720deg); transition:1s; animation:animate2 1.5s linear infinite; -webkit-animation:animate2 1.5s linear infinite;}
/*.a3 .p1{background: url(../images/玻璃球.png) no-repeat;}*/
/*.a3 .p2{background: url(../images/玻璃球.png) no-repeat;}*/
/*.a3 .p3{background: url(../images/玻璃球.png) no-repeat;}*/
/*.a3 .p4{background: url(../images/玻璃球.png) no-repeat;}*/
/*.a3 .p5{background: url(../images/玻璃球.png) no-repeat;}*/
/*.a3 .p6{background: url(../images/玻璃球.png) no-repeat;}*/
/*#a3 p{ animation:animate2 4s linear infinite; -webkit-animation:animate2 4s linear infinite;}*/

#a3 .p1{
    left: 50%;
    top: 30%;
   
}
#a3 .p2{
    left: 20%;
    top: 40%;
  
}
#a3 .p3{
    left: 80%;
    top: 40%;
}
#a3 .p4{
    left: 20%;
    top: 60%;
}
#a3 .p5{
    left: 80%;
    top: 60%;
}
#a3 .p6{
    left: 50%;
    top: 70%;
}
#a3 p {
    transform:rotate(720deg);
    -webkit-transform:rotate(720deg);
    transition: 1s;
    -webkit-transition: 1s;
}
.a4 p{ font-size: 3rem; margin-top: 150px; color: #fff;}
.a4 .p1{ transform:translate(-1000px,0px); -webkit-transform:translate(-1000px,0px);}
.a4 .p2{ transform:translate(1000px,0);-webkit-transform:translate(1000px,0);}
#a4 p{ transition:1s;-webkit-transition:1s;}
#a4 .p1{ transform:translate(0,30px); -webkit-transform:translate(0,30px);}
#a4 .p2{ transform:translate(0,-70px);-webkit-transform:translate(0,-70px);}
.a4 div{width:337px; height: 448px; background: url(../images/erweima.jpg); position: absolute; left:360px; top:750px; margin: -224px 0 0 -168px; background-size:337px 448px;}
#a4 div{ transform:scale(1.3); -webkit-transform:scale(1.3); transition:1s;-webkit-transition:1s;}
.a4 div span{ display: block; width: 337px; height: 60px; line-height: 60px; background: #fa367b; border-radius: 30px; position: absolute; bottom: -105px; left: 0; color: #fff; font-size: 30px;}
#a4 div span{ transform:rotateY(720deg); transition:2s;-webkit-transform:rotateY(720deg); -webkit-transition:2s;}
keyframes animate1{
    0%{opacity: 0;-webkit-transform:translateY(100%);}
    25%{opacity: 1;-webkit-transform:translateY(80%);}
    50%{opacity: 1;-webkit-transform:translateY(60%);}
    75%{opacity: 1;-webkit-transform:translateY(40%);}
    100%{opacity: 1;-webkit-transform:translateY(20%);}
}
@-webkit-keyframes animate1{
    0%{opacity: 0;-webkit-transform:translateY(100%);}
    25%{opacity: 1;-webkit-transform:translateY(80%);}
    50%{opacity: 1;-webkit-transform:translateY(60%);}
    75%{opacity: 1;-webkit-transform:translateY(40%);}
    100%{opacity: 1;-webkit-transform:translateY(20%);}
}

keyframes animate2{
    0%{opacity: 1;-webkit-transform:rotate(0);}
    10%{opacity: 1;-webkit-transform:rotate(36deg);}
    20%{opacity: 1;-webkit-transform:rotate(72deg);}
    30%{opacity: 1;-webkit-transform:rotate(108deg);}
    40%{opacity: 1;-webkit-transform:rotate(144deg);}
    50%{opacity: 1;-webkit-transform:rotate(180deg);}
    60%{opacity: 1;-webkit-transform:rotate(216deg);}
    70%{opacity: 1;-webkit-transform:rotate(252deg);}
    80%{opacity: 1;-webkit-transform:rotate(288deg);}
    90%{opacity: 1;-webkit-transform:rotate(324deg);}
    100%{opacity: 1;-webkit-transform:rotate(360deg);}
}
@-webkit-keyframes animate2{
    0%{opacity: 1;-webkit-transform:rotate(0);}
    10%{opacity: 1;-webkit-transform:rotate(36deg);}
    20%{opacity: 1;-webkit-transform:rotate(72deg);}
    30%{opacity: 1;-webkit-transform:rotate(108deg);}
    40%{opacity: 1;-webkit-transform:rotate(144deg);}
    50%{opacity: 1;-webkit-transform:rotate(180deg);}
    60%{opacity: 1;-webkit-transform:rotate(216deg);}
    70%{opacity: 1;-webkit-transform:rotate(252deg);}
    80%{opacity: 1;-webkit-transform:rotate(288deg);}
    90%{opacity: 1;-webkit-transform:rotate(324deg);}
    100%{opacity: 1;-webkit-transform:rotate(360deg);}
}

keyframes animate3{
    0%{opacity: 0;-webkit-transform:rotate(0);}
    100%{opacity: 1;-webkit-transform:rotate(360deg);}
    }
@-webkit-keyframes animate3{
    0%{opacity: 0;-webkit-transform:rotate(0);}
    100%{opacity: 1;-webkit-transform:rotate(360deg);}
    
}
.tip {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -10px;
    width: 0;
    height: 0;
    border: 10px solid #f82d2d;
    border-color: transparent transparent #f82d2d transparent;

    -webkit-animation: tipMove 1.5s ease-in-out 0s infinite both;
    animation: tipMove 1.5s ease-in-out 0s infinite both;
}

@-webkit-keyframes tipMove {
    0%, 100% {
        opacity: 1;
        bottom: 10px;
    }
    50% {
        opacity: 0;
        bottom: 20px;
    }
}

@keyframes tipMove {
    0%, 100% {
        opacity: 1;
        bottom: 10px;
    }
    50% {
        opacity: 0;
        bottom: 20px;
    }
}
/*音乐*/
.music{
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 60px;
    height: 60px;
    background-image: url("../audio/music.svg") ;
    background-size: 100% 100%;
}

.music.move{
    -webkit-animation: audioMove 1s linear 0s infinite both;
    animation: audioMove 1s linear 0s infinite both;
}

@-webkit-keyframes audioMove {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes audioMove {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


